[submodule "src/testing"]
	path = src/testing
	url = git@github.com:sopindm/burning-testing.git
[submodule "src/filesystem"]
	path = src/filesystem
	url = git@github.com:sopindm/burning-filesystem.git
[submodule "src/lisp"]
	path = src/lisp
	url = git@github.com:sopindm/burning-lisp.git
