[submodule "lisp"]
	path = lisp
	url = git@github.com:sopindm/burning-lisp.git
[submodule "testing"]
	path = testing
	url = git@github.com:sopindm/burning-testing.git
[submodule "filesystem"]
	path = filesystem
	url = git@github.com:sopindm/filesystem.git
